<nav
  class="fixed top-0 flex w-full flex-wrap items-center justify-between bg-black py-4 shadow-dark-mild lg:py-6">
  <div class="flex w-full flex-wrap items-center justify-between px-3">
    <div class="ms-2">
      <a routerLink="/" class="flex items-center">
        <img src="/PNG/qmq9wxze.png" alt="Orange Logo" class="h-16 w-auto" />
        <span
          class="text-white font-bold text-xl md:text-2xl ml-6 md:ml-12 relative after:content-[''] after:block after:w-16 after:h-1 after:bg-orange-500 after:mt-1">
          Timm Modules
        </span>
      </a>
    </div>
  </div>
</nav>