<div class="sm:w-full sm:max-w-[18rem]">
		<input type="checkbox" id="sidebar-mobile-fixed" class="sidebar-state" />
		<label for="sidebar-mobile-fixed" class="sidebar-overlay"></label>
		<aside class="sidebar bg-white top-16 md:top-20 sidebar-fixed-left sidebar-mobile h-[calc(100vh-50px)] justify-start max-sm:fixed max-sm:-translate-x-full">
			<section class="sidebar-title items-center gap-2 p-4 -mb-0 md:-mb-7">
				<img src="/PNG/Ellipse 1.png" alt="admin icon" class="h-8 md:h-14 rounded-full w-auto object-cover" />
				<div class="flex flex-col">
					<span class="capitalize text-base text-gray-500">jon snow</span>
					<span class="text-sm font-light text-content2 capitalize">administrator</span>
				</div>
			</section>
			<section class="sidebar-content">
				<nav class="menu rounded-md">
					<app-menu-item></app-menu-item>
				</nav>
			</section>
			<section class="sidebar-footer justify-end bg-gray-2 py-3">
				<div class="divider my-0"></div>
				<div class="flex p-4">
					<a routerLink="/" class="flex mx-4 mb-3 gap-2 items-center hover:text-orange-500 transition-colors duration-200">
						<svg xmlns="http://www.w3.org/2000/svg" width="29.004" height="25.379" viewBox="0 0 29.004 25.379">
							<path id="Icon_open-account-login" data-name="Icon open-account-login"
								d="M10.877,0V3.626h14.5V21.753h-14.5v3.626H29V0ZM14.5,7.251v3.626H0V14.5H14.5v3.626l7.251-5.438Z"
								fill="#6d6d6d" />
						</svg>
						<span>Disconnect</span>
					</a>
				</div>
			</section>
		</aside>
	</div>